header .jumbotron {
	width: 100%;
	height: 100vh;
	background-image: url("../images/banner.png");
	background-size: cover;
}

@media screen and (max-width: 700px) {
	header .jumbotron {
		background-image: url("../images/banner-mobile.png");
	}
}

.scroll-down {
	opacity: 1;
	-webkit-transition: all .5s ease-in 3s;
	transition: all .5s ease-in 3s;
}

.scroll-down {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -16px;
	display: block;
	width: 60px;
	height: 60px;
	border: 2px solid #FFF;
	background-size: 14px auto;
	border-radius: 50%;
	z-index: 2;
	-webkit-animation: bounce 2s infinite 2s;
	animation: bounce 2s infinite 2s;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.scroll-down:before {
	position: absolute;
	top: calc(50% - 13px);
	left: calc(50% - 10px);
	transform: rotate(-45deg);
	display: block;
	width: 20px;
	height: 20px;
	content: "";
	border: 2px solid white;
	border-width: 0px 0 2px 2px;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	60% {
		-webkit-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}