/* Imports google font */

@import "https://fonts.googleapis.com/css?family=Montserrat";
/* Global styling for all web pages and content */

body, html {
    overflow-x: visible;
    background-color: #eaeaea;
    background-image: url(../images/background.png);
    background-repeat: repeat;
    font-family: 'Montserrat';
}

/* This is necessary to make the footer stick to bottom of viewport */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

header {
    width: 100%;
    padding: 0 !important;
}

/* Styling for header banners at top of pages */

header .jumbotron {
    width: 100%;
    margin-top: 56px;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: center;
    color: white;
    background-color: #0052a5;
    background-size: cover;
}

header h1 {
    font-size: 50px !important;
    font-weight: 900 !important;
}

header p {
    font-size: 25px;
    font-weight: bold;
}

/* Styling for carousel element at top of FakeToday page. replaces jumbotron. */

#myCarousel {
    margin: 56px 0px;
}

.carousel-item {
    background-color: #0052a5;
}

.carousel-item img {
    width: 100%;
    height: auto
}

/* Styling for search bar on landing page and search.php */

form input {
    width: 500px !important;
    border-radius: 4px;
    font-size: 16px;
    background-color: #eaeaea;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.9s ease-in-out;
    transition: width 0.9s ease-in-out;
}

/* This gives the content of each page a margin ether side */

main {
    width: 90% !important;
    margin: auto;
    padding-bottom: 1rem;
}

/* Stylings for cards on index page and search results */

.card-div {
    padding: 5px;
}

.card-div button {
    width: 100%;
}

.card {
    height: 100%;
}

.card .btn {
    display: inline-block;
    vertical-align: bottom;
    width: 100%
}

.card h5 {
    text-align: center;
}

hr {
    margin: 16px 20px !important;
}

/* Styling for article content on FakeToday page */

h2 {
    margin-top: 0 !important;
}

.article .title {
    border-bottom: 1px grey solid;
}

.article .btn {
    width: 100%;
}

/* Styling for footer element */

footer {
    position: absolute !important;
    bottom: 0;
    margin: 0 !important;
    width: 100%;
    height: auto;
    line-height: 40px;
    padding: 0px 50px;
    background-color: rgba(0, 0, 0, 0.3);
}

footer p {
    margin: 0;
    padding: 0;
}

/* Styling for navigation bar. */

.navbar-brand {
    margin-left: 50px !important;
    margin-right: 50px !important;
    padding: 0;
}

.nav-link {
    padding: 8px 15px !important;
}

.nav-item .active {
    background-color: black !important;
}

#result {
    width: 100%;
}

#vote {
    margin-left: 0px;
    width: 100%;
}

.fav {
    float: left;
    margin-top: 5px;
}

.decided {
    text-align: right;
}

.view-post {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
}

.voted {
    cursor: pointer;
}

#overview {
    margin-top: 7px;
}

/* Media queries to change font-size of text within carousel when page is resized. This stops the text overlapping on small screens. */

@media (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
    #home {
        display: inherit;
    }
    .carousel-item p {
        font-size: 0.8em;
    }
    .carousel-item h2 {
        font-size: 1.2em;
        font-weight: bold
    }
}

@media (min-width: 768px) {
    #home {
        display: none;
    }
    .carousel-item p {
        font-size: 1em;
    }
}

@media (max-width: 350px) {
    .carousel-item h2 {
        font-size: 1em;
        font-weight: bold
    }
}

/*# sourceMappingURL=master.css.map */