/* Slider text outer container */

#slides {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 auto;
  width: 80%;
  height: 350px;
  white-space: nowrap;
}

/*Text inside the slider div */

#slides div {
  position: relative;
  display: inline-block;
  margin-right: -4px;
  white-space: normal;
  vertical-align: top;
  *display: inline;
  width: 100%;
  height: 100%;
}

/*Highlighted elements in article */

#sliderbody span {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

/*Make div centered in 80% of page*/

.howto {
  width: 80%;
  margin-left: 10%;
}

.names {
  width: 80%;
  margin-left: 10%;
}

/*Remove bullet points*/

.howto ul {
  list-style-type: none;
}

/*appearance of slider background*/

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 20px;
}

.slider:hover {
  opacity: 1;
}

/*Center slide*/

.outer-slider {
  text-align: center;
}

/*Slider dragger appearance*/

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25%;
  height: 25px;
  background: #0052a5;
  cursor: pointer;
  border-radius: 20px;
}

.slider::-moz-range-thumb {
  width: 25%;
  height: 25px;
  background: #0052a5;
  cursor: pointer;
  border-radius: 20px;
}

.jumbotron p {
  font-size: 1em;
}

/*Allign slider labels*/

#fake {
  text-align: right;
}

#real {
  text-align: left;
}

/*Adjust headline size for screen size*/

@media (max-width: 375px) {
  #slides h3 {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  #slides h3 {
    font-size: 1em;
  }
}

@media (min-width: 992px) {
  #slides {
    overflow-y: hidden;
  }
}